{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href={% static "css\login.css" %} rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container-login100">
    
    <div class="wrap-login100">
        
        <form method="post" novalidate class="login100-form validate-form">
            {% csrf_token %}

            <span class="login100-form-title p-b-48">
                خوش آمدید
            </span>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                {{ form.username.label_tag }}
                {{ form.username }}
                <span class="focus-input100" data-placeholder=""></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                {{ form.password.label_tag }}
                {{ form.password }}
                <span class="focus-input100" data-placeholder=""></span>
            </div>

            {% comment %} <div class="wrap-input100 validate-input">
                {{ form.username.label_tag }}
                
            </div>
            <div class="wrap-input100 validate-input">
                
            </div> {% endcomment %}

            <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                ورود
                            </button>

						</div>
			</div>

                    {% if messages %}
                    <div class="messages p-t-24">
                        {% for message in messages %}
                        <div class="col-sm-12">
                            <div class="custom-alert" role="alert" data-brk-library="component__alert">
       
                              <strong class="font__weight-semibold">خطا: </strong> {{ message }}
                            </div>
                          </div>
                         
                        {% endfor %}
                    </div>
                {% endif %}
                
                    <div class="text-center p-t-20">
						<span class="txt1">
							حساب کاربری ندارید؟
						</span>

						<a class="txt2" href="#">
							ثبت نام
						</a>
					</div>
            
         
            
        </form>
       
        
    </div>
</div>

{% endblock content %}