{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href={% static "css\login.css" %} rel="stylesheet">
{% endblock %}


{% block content %}

<div class="container-login100">
    
    <div class="wrap-login100">
        
        <form method="post" novalidate class="login100-form validate-form">
            {% csrf_token %}

            <span class="login100-form-title p-b-48">
                ثبت نام در سایت
            </span>
            
            {% for field in form %}
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <div>
                        {{field.label_tag}}
                    </div>

                    {% for error in field.errors %}
                            <p class="error-message"> {{ error }} </p>
                    {% endfor %}

                    <div>
                        {{ field }}
                    </div>
                    <span class="focus-input100" data-placeholder=""></span>
                </div>
            {% endfor %}

           

            {% comment %} <div class="wrap-input100 validate-input">
                {{ form.username.label_tag }}
                
            </div>
            <div class="wrap-input100 validate-input">
                
            </div> {% endcomment %}

            <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                ثبت نام
                            </button>

						</div>
			</div>

                    {% if messages %}
                    <div class="messages p-t-24">
                        {% for message in messages %}
                        <div class="col-sm-12">
                            <div class="custom-alert" role="alert" data-brk-library="component__alert">
       
                              <strong class="font__weight-semibold">خطا: </strong> {{ message }}
                            </div>
                          </div>
                         
                        {% endfor %}
                    </div>
                {% endif %}
                

            
         
            
        </form>
       
        
    </div>
</div>

{% endblock content %}