{% extends "base.html" %}

{% load static %}

{% block head %}
<link href="{% static 'css/creat_game.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="form-wrapper">
    <div class="form-container">
        <h2>ایجاد بازی</h2>

        <form method="post" novalidate class="login100-form validate-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <div>
                        {{ field.label_tag }}
                    </div>
                    {% for error in field.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                    <div>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="button-container">
                <button type="submit" class="login100-form-btn">
                    ایجاد بازی
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
