{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href={% static "css/games_archive.css" %} rel="stylesheet">
{% endblock %}


{% block content %}

{% for game in games  %}
    <a href={% url "create_or_join_game" game.slug %}>
        <div class="card">
            {% if game.image %}
                <img src="{{ game.image.url }}" alt="Game Image" onerror="this.onerror=null; this.src='{% static 'img/default_game_image.jpg' %}'">
            {% else %}
                <img src="{% static 'images/default_game_image.jpg' %}" alt="Default Game Image">
            {% endif %}

            <h2>{{ game.name }}</h2>
            <hr> <!-- Separator line -->
            <ul>
            {% if game.is_team %}
                <li>گروهی</li>  
            {% else %}
                <li>تک نفره</li>  
            {% endif %}
            <li>از {{ game.min_players }} تا {{ game.max_players }} نفر</li>
            </ul>
        </div>
    </a>
{% endfor %}

{% endblock content %}
