.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* عرض کمتر */
    text-align: center;
    margin: 20px; /* فاصله بیرونی */
    direction: rtl; /* تنظیم راست به چپ */
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 30px; /* فاصله بین فیلدها */
}

.form-group div {
    margin-bottom: 5px;
    text-align: right; /* تنظیم راست به چپ */
}

.error-message {
    color: rgb(173, 61, 61);
    font-size: 0.9em;
    margin-top: 5px; /* فاصله بین فیلد و خطا */
    margin-bottom: -5px;
    text-align: right;   
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 3px solid #1c3b5d;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border-bottom: 3px solid #ff6666;
}

.button-container {
    text-align: center;
}

.login100-form-btn {
    background-image: linear-gradient(to right, #2f2f89, #ff6666);
    width: 100%;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;

}

.login100-form-btn:hover {
    background-color: #0056b3;
}
